@page "/ModifyReportProgram"

@using NRGSystemsPtAppWebSite;
@using NRGSystemsPtAppWebSite.Models;
@using NRGSystemsPtAppWebSite.Services

@inject ClientRestFunctionServices apiClientClient
@inject FunctionRestService apiClient
@inject ExerciseRestFunction apiExerciseClient
@inject NavigationManager NavigaitonManager

<h5 style="color:#1e90ff">Update values for the next workout</h5>

<table style="width:fit-content; align-content:center; column-fill:initial">
    <thead >
        <tr>
            <th>
                <label for="Weights" class="control-label">Weights</label>
            </th>
            <th>
                <label for="Reps" class="control-label">Reps</label>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style ="width:fit-content; align-content:center">
                <input form="Weights" class="form-control" @bind="@program.Weights" />
            </td>
            <td>
                <input form="Reps" class="form-control" @bind="@program.Repetitions" />
            </td>
        </tr>
    </tbody>
</table>
<div>
    <div>
        <label for="PtsComments" class="control-label">Set comment for the client</label>
    </div>
    <div>
        <input form="PtsComments" class="form-control" @bind="@program.PtComments" />
    </div>
</div>

@* 
<form style="color:#1e90ff">
    <div class="row">
        <div class="col-md-8">

            <div class="for-group">
                <label for="Weights" class="control-label">Weights</label>
                <input form="Weights" class="form-control" @bind="@program.Weights" />
            </div>
            <div class="for-group">
                <label for="Reps" class="control-label">Reps</label>
                <input form="Reps" class="form-control" @bind="@program.Repetitions" />
            </div>
            <div class="for-group">
                <label for="PtsComments" class="control-label">PTs Comments</label>
                <input form="PtsComments" class="form-control" @bind="@program.PtComments" />
            </div>
        </div>
    </div>
</form>
 *@
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="button" style="margin:1rem" class="btn btn-primary" @onclick="@UpdateProgram" value="Update this program exercise" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="button" style="margin:1rem" class="btn btn-primary" @onclick="@AddNewExercise" value="Add Another Exercise" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="button" style="margin:1rem" class="btn btn-primary" @onclick="@CreateNewProgram" value="Create New Program" />
        </div>
    </div>
</div>

@code {
    [Parameter]
    public List<string> allClients { get; set; } = new();
    [Parameter]
    public List<string> allExercises { get; set; } = new();
    [Parameter]
    public string selectedClient { get; set; } = string.Empty;
    [Parameter]
    public string selectedExercise { get; set; } = string.Empty;
    [Parameter]
    public string NameOfTheProgram { get; set; } = string.Empty;
    [Parameter]
    public ClientsProgram program { get; set; } = new();

    [Parameter]
    public int reportId { get; set; } = new();

    [Parameter]
    public EventCallback SelectNewExercise { get; set; } = new();


    Clients client = new();
    List<Clients> clientList = new();
    List<Exercise> exerciseList = new();
    List<ClientsProgram> programExerciseList = new();

    protected override async Task OnInitializedAsync()
    {
        clientList = await Task.Run(() => apiClientClient.GetAllClients());
        exerciseList = await Task.Run(() => apiExerciseClient.GetAllExercises());

        Clients dummy = GetDummy();
        clientList.Add(dummy);

        foreach (var cli in clientList)
        {
            var mixString = $"{cli.ID} =-= {cli.FullName}";
            allClients.Add(mixString);
        }
        foreach (var exe in exerciseList)
        {
            var mixString = $"{exe.ExerciseName} =+= {exe.ImageGif}";
            allExercises.Add(mixString);
        }

    }

    protected async Task CreateNewProgram() => await apiClient.AddNewProgramList(programExerciseList);

    protected async Task UpdateProgram()
    {
        var newProg = new ClientsProgram();
        newProg.ProgramId = program.ProgramId;
        newProg.ClientId = program.ClientId;
        newProg.ClientName = program.ClientName;
        newProg.ProgramTitle = program.ProgramTitle;
        newProg.DateIssued = program.DateIssued;
        newProg.NumberOfVisits = program.NumberOfVisits;
        newProg.TimesProgramUsed = program.TimesProgramUsed + 1;
        newProg.NameOfExercise = program.NameOfExercise;
        newProg.ImageGifLocation = program.ImageGifLocation;
        newProg.Weights = program.Weights;
        newProg.Repetitions = program.Repetitions;
        newProg.PtComments = program.PtComments;

        await Task.Run(() => apiClient.UpdateClientsProgram(newProg));
        var a = await Task.Run(() => apiClient.MarkReportAsReadAsync(reportId));
        if(a)
        {
            NavigaitonManager.NavigateTo("report");
        }
    }

    protected async Task AddNewExercise()
    {
        await SelectNewExercise.InvokeAsync();
    }

    Clients GetDummy()
    {
        return new Clients()
            {
                ID = 0,
                FirstName = "Template",
                LastName = "Program",
                UserName = "dum",
                Password = "0",
                Email = "",
                Phone = "0",
                DoB = DateTime.Now.Date,
                Sex = "Male",
                Height = 0,
                Weight = 0,
                Enabled = 0,
                ProgramRevisionNo = "0",
                ReportRevisionNo = "0",
                MessageRevisionNo = "0"
            };

    }
}